@use 'fonts';
@import "../node_modules/normalize-scss/sass/normalize";
@import 'header/_header';
@import 'gallery';
@import 'footer/_footer';

body {
    font-family: fonts.$main_font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title__bar{
    display: flex;
    flex-direction: column;
}

h4{
    display: inline-block;
    color: #4B4FE9;
}

.motto{
    color: #707070;
    font-style: italic;
    line-height: 2rem;
}

.container__introduction{
    display: flex;
    justify-content: space-between;
    line-height: 3rem;
    margin-bottom: 8%;
}

.container__introduction-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1%;
}

span{
    display: block;
}

.container__service{
    width: 100%;
    display: flex;
    justify-content: space-between; 
    border-bottom:3px solid #D8D8D8;
}

.container__service-info{
    width: 50%;
    margin-bottom: 4%;
}

h3{
    font-size: 28px;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 2px;
}

.container__service-list{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 2rem;
    color: #707070;
}

ul{
    padding-right: 8%;
}

/* Table info starts here. It will be carried into a new scss file. */
.table{  
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-up, .table-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1% 0 1% 0;
}

.table-left{
    width: 50%;
}

.table-right{
    width: 50%;
}

.table__content-above, .table__content-below{
    display: flex;
    justify-content: space-between;
}

.table-subtitle{
    font-size:18px;
}

.content__detail{
    width: 20%;
    line-height: 2rem;
}

.content__name{
    width: 15%;
}

.content__date{
    width: 10%;
}

.table-up, .table-bottom{
    border-bottom-style: solid;
    border-color: #D8D8D8;
    border-width: 1px; 
}


/* Projects page starts here. It will be carried into a new scss file. */
.container__projects{
    display: flex;
    flex-direction: column;
}

.container__initial{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-bottom: 4%;
}

.container__initial-left{
    width: 80%;
}

.project__detail{
    width: 40%;

    &__title{
        font-size: 40px;
        font-weight: 600;
        line-height: 1.5em;
        letter-spacing: 2px;
    }
}
.project__info{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:end;
}

.project__info-left{
    width: 60%;
}

.project__explanation{
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1px;
}

.container__initial-right{
    width: 25%;
    display: flex;
    flex-direction: column;
}

.project__box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: #D8D8D8;
    border-width: 1px; 
    line-height: 2em;
}

.box__line p{ // It didn't make the p bold!
    font-weight: 900;
}

