header{
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 4%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & a{
        text-decoration: none;
    }

        a:link {
            color: black;
        }
        
        a:visited {
            color: #496E58;
        }
        
        a:hover {
            color: #DB7F55;
        }

    .logo{
        font-size: 24px;
    }
    
    .nav__list{
        width: 18%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

li{
    list-style: none;
    font-size: 18px;
}  

// li was not nested with nav__list because of the difference in element name in footer