// Wrapper didn't work with the footer section. logo and media links should be approached closer to center.
.wrapper{
    width: 86%;
    display: flex;
    flex-direction: column;
    margin: 0 7% 0 7%;
} 

footer{
    width:100%;
    margin-top: 4%;
    display: flex;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__list{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.media__list{
    width: 15%;
    display: flex;
    justify-content: space-between; 
}

.media__list a{
    font-size: 24px;
    color: black;
}

.media__list a:hover{
    color: turquoise;
}

.link__list{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

